/**  基础样式 **/
* {
    box-sizing: border-box;
}


body {
    font-family: "pingfang sc","苹方","microsoft yahei","黑体",Verdana,Arial,sans-serif,"Times New Roman","宋体",simsun;
    margin: 0 auto;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    
}

.container {
    margin: 0 auto;
    min-width: 1300px;
    min-height: 800px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
#container {
    margin: 0 auto;
    min-width: 1300px;
    min-height: 800px;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
.left {
    float: left;
}

.right {
    float: right;
}
.block {
    display: block;
}
.none {
    display: none;
}
input:focus, select:focus, textarea:focus {
    /*border-color: #66afe9;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);*/
    outline: none;
}

input, button, select, textarea {
    outline: none;
}





