<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation) See here for more
        details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}\(%L\) - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="ERRORLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder charset="UTF-8">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}\(%L\) - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/error.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--<FileNamePattern>../logs/web-log/error.log.%d{yyyy-MM-dd}</FileNamePattern>-->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
                         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>-->
    </appender>
    
    <appender name="DEBUGLOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder charset="UTF-8">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}\(%L\) - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/admin-service.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!--<FileNamePattern>../logs/web-log/debug.log.%d{yyyy-MM-dd}</FileNamePattern>-->
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
                         <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </layout>-->
    </appender>

    <logger name="com.speedjustice.web" level="DEBUG"/>

    <!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
    <logger name="com.opensymphony" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.boot.context.embedded" level="INFO"/>
    <logger name="org.mongodb.driver" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.daofan" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEBUGLOG"/>
        <appender-ref ref="ERRORLOG"/>
    </root>
</configuration>
